@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300&family=Playfair+Display:wght@600;900&family=Poppins:wght@200;300&family=Roboto+Slab:wght@800&display=swap');

*{
    font-family: 'Poppins';
}

body{
    margin: 0px;
}

header{
    display: flex;
    height: 60px;
    background-color: #93ACB5;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

header > h2 {
    color: black;
    margin-left: 20px;
}

li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.contenedores{
    width: 100%;
    height: 100vh;
    margin: 0px;
    display: flex;
}

.contenedor_1{
    background-color: gray;
    align-items: center;
    justify-content: center;
}

.contenedor_2{
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
}

.contenedor_3{
    background-color: beige;
}

.contenedor_1_sobremi{
    width: 60%;
    height: 60%;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.75);
}

.contenedor_1_texto{
    width: 50%;
}

.contenedor_2_objetivos{
    width: 60%;
    height: 70%;
    background-color: antiquewhite;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contenedor_2_objetivos > h2 {
    text-align: center;
    margin: 0px;
}

.contenedor_2_div{
    width: 95%;
    height: 75%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

.objetivos{
    width: 30%;
    height: 100%;
    background-color: bisque;

}